################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/DotNetCore2Api/.vs/DotNetCore2Api
/DotNetCore2Api/DotNetCore2Api/bin/Debug/netcoreapp2.2
/DotNetCore2MVC/.vs/DotNetCore2MVC/v16
/DotNetCore2MVC/DotNetCore2MVC/obj
